.map-sidebar {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  /*background-color: #21252b;*/
  color: #9fa6b7;
  font-family: OpenSans;
  font-weight: 300;
  font-size: 14px;
  width: 30%;
  min-width: 400px;
  position: absolute;
  top: 0;
  right: 0px;
  z-index: 20;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background-color: transparent;
  height: 100%;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);
  transition: 0.4s right;
}
.map-sidebar--short {
  height: calc(100% - 330px);
}
.map-sidebar--hiden {
  right: -500px;
  transition: 0.4s right;
}
.map-sidebar-back-button {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #5c636f;
  background: transparent;
  border: none;
  margin-top: 2em;
  margin-bottom: 1.5em;
}

.map-sidebar-back-button:hover {
  color: #9ea9bd;
}

.map-sidebar-back-button:focus {
  outline: none;
}

.map-sidebar-back-button svg {
  object-fit: contain;
  stroke: #3c424f;
  margin-right: 1em;
  margin-left: 0.3em;
}

.map-sidebar-back-button:hover svg {
  stroke: #9ea9bd;
}

.map-sidebar-content-container {
  padding-right: 2.5em;
  margin-left: 2.5em;
  margin-bottom: auto;
  overflow-y: auto;
  z-index: 10;
}

::-webkit-scrollbar {
  width: 0px; /* remove scrollbar space */
  background: transparent; /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in a given color */
::-webkit-scrollbar-thumb {
  background: #9ea9bd;
}

.map-sidebar-title {
  font-size: 32px;
  font-weight: 700;
  font-style: italic;
  margin-bottom: 0.3em;
}

.assault-title {
  color: #d05f75;
}

.map-sidebar-description {
  font-size: 18px;
  font-weight: 700;
  color: #9fa6b7;
  margin-bottom: 0.3em;
}

.map-sidebar-location-date-container {
  margin-bottom: 0.5em;
}

.map-sidebar-paragraphs {
  line-height: 1.57;
  text-align: left;
  color: #9fa6b7;
}

.map-sidebar-paragraphs::-webkit-scrollbar {
  display: none;
}

.map-sidebar-paragraphs p {
  margin: 0.2em 0;
}

.map-sidebar-paragraphs p.policeSignature {
  font-style: italic;
  color: #737884;
}

.map-sidebar-buttons-container {
  margin: 3em 0em;
  display: flex;
  justify-content: center;
}

.map-sidebar-button {
  margin-right: 0.75em;
  min-width: 9em;
  min-height: 2.5em;
  border-radius: 22px;
  border: none;
  background-color: #3c424f;
  font-size: 1.2em;
  font-weight: 700;
  font-style: italic;
  text-align: center;
  color: #9fa6b7;
}

.map-sidebar-button:hover {
  background-color: #575e6f;
}

.map-sidebar-button:focus {
  outline: none;
}

.map-sidebar__background {
  color: #9fa6b7;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: -1;
  background: rgba(0, 0, 0, 0.69);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  height: 100%;
  filter: blur(2px);
  -webkit-filter: blur(1px) contrast(0.4) brightness(0.6);
  -ms-filter: blur(8px) contrast(0.4) brightness(1.4);
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0px, 0px, 0px);
}

.map-sidebar-results-content {
  margin-bottom: auto;
  overflow-y: auto;
  z-index: 10;
}

.map-sidebar-results-crime-title-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.25em;
  min-width: 21em;
}

.map-sidebar-results-title {
  text-transform: uppercase;
  font-family: OpenSans;
  font-weight: 800;
  font-size: 1em;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
  margin-right: 2em;
  margin-left: 2em;
}

.map-sidebar-crime-item-select-button {
  transform: rotate(180deg);
  margin: 0;
}

.map-sidebar-results-crime-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.light-theme .map-sidebar-results-crime-item:hover{
  background: lightgrey;
}

.map-sidebar-results-crime-arrow {
  align-self: center;
}

.map-sidebar-results-crime-title {
  font-family: OpenSans;
  font-style: italic;
  font-weight: 800;
}

.map-sidebar-results-crime-date {
  font-size: 0.8em;
  color: rgba(159, 166, 183, 0.52);
}

.map-sidebar-results-crime-item {
  padding: 1em 2.5em;
}

.map-sidebar-results-crime-item:hover {
  background-color: rgba(64, 66, 70, 0.42);
  cursor: pointer;
}

.map-sidebar-results-crime-item:hover
  .map-sidebar-crime-item-select-button
  svg {
  stroke: #9ea9bd;
}
.map-sidebar-scroll {
  height: 100%;
  overflow-y: scroll;
}
.light-theme .assault-title{
  color: #282c34;
}
.light-theme .map-sidebar-description , .light-theme .map-sidebar-location-date-container, .light-theme .map-sidebar-paragraphs{
  color:#3c424f;
}
.light-theme .map-sidebar-button{
  background-color: #ffffff;
}
.light-theme .map-sidebar-button:hover{
background-color: #9fa6b7;
color: #ffffff;
}
.light-theme .map-sidebar__background{
  background-color: white;
  box-shadow: 0;
  filter: blur(2px);
  -webkit-filter: blur(1px) contrast(1) brightness(0.9);
  -ms-filter: blur(8px) contrast(0.4) brightness(1.4);
}
