.statistics__btn {
  height: 24px;
  border-radius: 12px;
  border: 1px solid #9fa6b7;
  font-family: OpenSans;
  font-size: 12px;
  font-weight: bold;
  text-align: right;
  color: #ffffff;
  background-color: transparent;
  float: right;
}

.statistics__btn:hover {
  background-image: linear-gradient(to top, #7f8caa, #9fa6b7);
  color: #ffffff;
}

.light-theme .statistics__btn {
  color: black;
  background-color: white;
}
