.date-pickers-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.date-picker {
  width: 90px;
  height: 24px;
  border-radius: 12px;
  border: 1px solid #9fa6b7;
  font-family: OpenSans;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  background-color: transparent;
}
.date-picker__calendar {
  border-radius: 6px;
  background-color: #3c424f;
  box-shadow: 0 2px 23px 0 rgba(0, 0, 0, 0.3);
  border: none;
  color: #9fa6b7;
}
.date-picker__calendar .react-datepicker__day-name,
.date-picker__calendar .react-datepicker__day {
  margin: auto 7px;
}
.date-picker__calendar .react-datepicker__day-name,
.date-picker__calendar .react-datepicker__day,
.date-picker__calendar .react-datepicker__current-month {
  color: #9fa6b7;
}
.date-picker__calendar .react-datepicker__day--disabled {
  color: #5c636f;
}
.date-picker__calendar .react-datepicker__header {
  background-color: #3c424f;
  border: none;
}
.date-picker__popper {
}
.date-picker__next-icon {
  height: 14px;
  margin: 0 8.5px;
}
.light-theme .date-picker{
  color: #3c424f;
  background-color: #ffffff;
}
.light-theme .date-picker__calendar{
   background-color: #ffffff;
   box-shadow: 0 2px 23px 0 rgba(159, 166, 183, 0.3);
}

